<article class="blog-post">
    <h2 class="blog-post-title mb-1">
        <a href="{{ path('post', {'slug': post.slug}) }}" class="link-light">{{ post.title }}</a>
    </h2>
    <p class="blog-post-meta">
        {{ post.updatedAt|date("d/m/Y") }} par {{ post.author }}
        &middot;
        <small class="fst-italic">{{ post.comments|length }} commentaire{{ post.comments|length > 1 ? 's' }}</small>
    </p>
    <div class="text-justify">
        <p class="lead">{{ post.lede|markdown_to_html }}</p>
        <p>{{ post.content|markdown_to_html }}</p>
    </div>
</article>
