{% extends "base.html.twig" %}

{% block title %}Tableau de bord &middot; {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>Tableau de bord</h1>
        <div class="d-md-flex gap-2 col-lg-8 mx-auto">
            <div class="col-md-4 text-md-end pt-2 mb-2 mb-md-0">
                Liste des actions disponible
            </div>
            <div class="list-group col">
                <a href="{{ path('admin_comments') }}" class="list-group-item list-group-item-action">
                    Gestion des commentaires à valider
                    <span class="badge text-bg-dark rounded-pill">{{ comments|length }}</span>
                </a>
                <a href="{{ path('admin_posts_list', {'page': 1}) }}" class="list-group-item list-group-item-action">Gestion des articles</a>
                <a href="{{ path('admin_comments_list', {'page': 1}) }}" class="list-group-item list-group-item-action">Gestion des commentaires</a>
            </div>
        </div>
    </div>

{% endblock %}
