{% extends "base.html.twig" %}

{% block title %}Liste des articles &middot; {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>Liste des articles</h1>
        <table class="table table-dark table-striped table-hover table-borderless">
            <thead>
            <tr>
                <th scope="col" class="col-6">Titre</th>
                <th scope="col" class="col-2 text-center">Commentaire(s)</th>
                <th scope="col" class="col-2 text-center">Date de création</th>
                <th scope="col" class="col-2"></th>
            </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td><a href="{{ path('post', {'slug': post.slug}) }}" class="text-light">{{ post.title }}</a></td>
                    <td class="text-center">{{ post.comments|length }}</td>
                    <td class="text-center">{{ post.createdAt|date('d/m/Y H:i') }}</td>
                    <td class="p-1 text-end">
                        <a href="{{ path('admin_blog_edit', {'id': post.id}) }}" class="px-2 py-1 btn btn-link link-secondary" title="Modifier"><i class="bi bi-pen"></i></a>
                        <form action="{{ path('admin_blog_delete', {'id': post.id}) }}" method="post" class="d-inline-block">
                            <button type="submit" class="btn btn-link link-secondary px-2 py-1" title="Supprimer"><i class="bi bi-eraser"></i></button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-secondary fst-italic text-center">Aucun article</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="text-end">
            <a href="{{ path('admin_blog_new') }}" class="btn btn-sm btn-outline-success">Rédiger un nouvel article</a>
        </p>
    </div>

{% endblock %}
