{% extends "base.html.twig" %}

{% block title %}Liste des articles du blog &middot; {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="display-5 mb-4">Liste des articles du blog</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mb-2 d-flex align-items-stretch">
        {% for post in posts %}
            <div class="mb-3">
                <div class="h-100 border border-secondary bg-secondary bg-opacity-10 rounded overflow-hidden mb-4 h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{ post.title }}</h3>
                        <div class="mb-1 text-secondary">{{ post.updatedAt|format_datetime(pattern="MMMM yyyy", locale="fr")|capitalize }}</div>
                        <p class="card-text mb-auto">{{ post.lede }}</p>
                        <a href="{{ path('post', {'slug': post.slug}) }}" class="stretched-link link-secondary">Lire la suite...</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-secondary fst-italic">Aucun article</p>
        {% endfor %}
        </div>
    </div>
    <nav aria-label="Pagination des articles" class="mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item{{ page == 1 ? ' disabled' }}">
                <a class="page-link" href="{{ path('blog', {'page': page - 1}) }}">Précédent</a>
            </li>
            {% for i in 1..numberOfPages %}
            <li class="page-item{{ page == i ? ' active' }}">
                <a class="page-link" href="{{ path('blog', {'page': i}) }}">{{ i }}</a>
            </li>
            {% endfor %}
            <li class="page-item{{ page == numberOfPages ? ' disabled' }}">
                <a class="page-link" href="{{ path('blog', {'page': page + 1}) }}">Suivant</a>
            </li>
        </ul>
    </nav>

{% endblock %}
