{% extends "base.html.twig" %}

{% block title %}Liste des commentaires &middot; {{ parent() }}{% endblock %}

{% set valid = {
    0: 'question-circle',
    1: 'check-circle',
    2: 'x-circle',
} %}

{% block body %}

    <div class="container">
        <h1>Liste des commentaires</h1>
        <table class="table table-dark table-striped table-hover table-borderless">
            <thead>
            <tr>
                <th scope="col" class="col-1 text-center">Publié</th>
                <th scope="col" class="col-2 text-center">Date de création</th>
                <th scope="col" class="col-1">Auteur</th>
                <th scope="col" class="col-2">Article</th>
                <th scope="col" class="col-5">Contenu</th>
                <th scope="col" class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td class="text-center"><i class="bi bi-{{ valid[comment.valid] }}"></i></td>
                    <td class="text-center">{{ comment.createdAt|date('d/m/Y H:i') }}</td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.post.title }}</td>
                    <td class="">{{ comment.content|nl2br }}</td>
                    <td class="p-1 text-end">
                        <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" class="px-2 py-1 btn btn-link link-secondary" title="Modifier"><i class="bi bi-pen"></i></a>
                        <form action="{{ path('admin_comments_delete', {'id': comment.id}) }}" method="post" class="d-inline-block">
                            <input type="hidden" name="_csrf" value="{{ token }}">
                            <button type="submit" class="btn btn-link link-secondary px-2 py-1" title="Supprimer"><i class="bi bi-eraser"></i></button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-secondary fst-italic text-center">Aucun commentaire</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Pagination des articles" class="mt-5">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item{{ page == 1 ? ' disabled' }}">
                    <a class="page-link" href="{{ path('admin_comments_list', {'page': page - 1}) }}">Précédent</a>
                </li>
                {% for i in 1..numberOfPages %}
                    <li class="page-item{{ page == i ? ' active' }}">
                        <a class="page-link" href="{{ path('admin_comments_list', {'page': i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item{{ page == numberOfPages ? ' disabled' }}">
                    <a class="page-link" href="{{ path('admin_comments_list', {'page': page + 1}) }}">Suivant</a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}
